@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: #0b1220;
  color: white;
  @apply antialiased;
}

.light body {
  background-color: white;
  color: black;
}
