@import url('@fontsource/sora/latin.css');
@import url('@fontsource/inter/latin.css');

:root {
  --font-heading: 'Sora', 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-heading);
}
